{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Upload Recipients from CSV</h4>
    </div>
    <div class="card-body">
      <form class="form" role="form", enctype="multipart/form-data" action="{{ url_for('upload.file_csv') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{form.file.label}}
          {{form.file(class='form-control', accept=".csv,")}}
          {% for error in form.errors.file %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        {{form.submit(class='btn btn-primary')}}
      </form>
    </div>
  </div>
</div>
{% endblock %}