{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      <h4 class="card-title">{{ current_user.username }}</h4>
    </div>
    <div class="card-body">
      <form class="form" role="form" action="{{ url_for('auth.profile') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{form.first_name.label}}
          {{form.first_name(class='form-control')}}
          {% for error in form.errors.first_name %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        <div class="form-group">
          {{form.last_name.label}}
          {{form.last_name(class='form-control')}}
          {% for error in form.errors.last_name %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        <div class="form-group">
          {{form.username.label}}
          {{form.username(class='form-control')}}
          {% for error in form.errors.username %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        <div class="form-group">
          {{form.email.label}}
          {{form.email(class='form-control')}}
          {% for error in form.errors.email %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        {{form.submit(class='btn btn-primary')}}
      </form>
    </div>
  </div>
</div>
{% endblock %}
