{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Please enter your email</h4>
    </div>
    <div class="card-body">
      <form class="form" role="form" action="{{ url_for('auth.reset_password') }}" method="post">
        <div class="form-group">
          {{form.email.label}}
          {{form.email(class='form-control')}}
          {% for error in form.errors.email %}
          <small class="text-danger">{{error}}</small>
          {% endfor %}
        </div>
        {{form.submit(class='btn btn-primary')}}
        <p>Ну шо згадав? <a href="{{ url_for('auth.login') }}">Login</a>.</p>
      </form>
    </div>
  </div>
</div>
{% endblock %}