.plants-container {
    display: flex;
    justify-content: flex-start;
}

.plants-container .card {
    width: 15%;
    margin-left: 20px;
}

.custom-menu-items {
    display: flex;
    justify-content: space-between;
}

.user {
    margin-right: 30px;
}